body {
	background: $backgroundColor_B;
}

#cts-body {
	position: relative;
	margin-top: 55px;
	width: 100%;
	padding: 0;
	@media screen and (min-width: 1000px) {
		margin-top: 105px;
	}
}

.container {
	display: flex;

}

.container-vertical {
	flex-direction: column;
}

.container-horizontal {
	flex-direction: row;
}

.responsive-width {
	width: 100%;
	max-width: $maxWidth;
	margin: 0 auto;

}

.force-word-wrap {
	word-wrap: break-word;
	word-break: break-word;
}

.info-text {
	display: block;
	background: #dddddd;
	color: $fontColor_B;
	font-family: $font_B;
	font-size: 1rem;
	text-align: center;
	padding: 5px;
}

.subtitle {
	font-weight: 500;
	display: block;
	width: 100%;
	padding: 10px 0;
	margin: 5px 0 0;
	text-align: center;
	color: $fontColor_A;
	font-family: $font_A;
	background: rgba(255,255,255,0.25);
}

.medium-text {
	font-size: 1.5em;
	letter-spacing: 0.025em;
	@media #{$mediaMax} {
		font-size: 2em;
		letter-spacing: 0.025;
	}
}

.normal-text {
	font-size: 1.5em;
	letter-spacing: 0.025em;
}

.options {
	width: 100%;
	text-decoration: none;
	@media #{$mediaMax} {
		max-width: 492px;
	}
}
.reverse {
	flex-wrap: wrap-reverse;
	justify-content: center;
	@media #{$mediaMax} {
		justify-content: space-between;
	}
}
.forward {
	flex-wrap: wrap;
	justify-content: center;
	@media #{$mediaMax} {
		justify-content: space-between;
	}
}

.selected-tab {
	background: rgba(255,255,255,0.4);
}

.highlight:hover {
	background: rgba(255,255,255,0.4);
}
