#map {
	width: 100%;
	margin: 5px 0;
	height: 300px;
	background-color: grey;
	@media #{$mediaMax} {
		height: 400px;
	}
}

.smaller-text {
	font-size: 0.9em;
	@media #{$mediaMax} {
		display: inline;
		font-size: 1em;
	}
}
