/*
 * UPTOWN JAZZ THEME
 * Author: Cam Sexton
 *
 */

$backgroundColor_A: black;
$backgroundColor_B: #000000;
$fontColor_A: white;
$fontColor_B: black;
$font_A: 'Poiret One', cursive;
$font_B: 'Quicksand', sans-serif;
