==
<!DOCTYPE html>
<html lang="en">
    {% partial "head" %}
    <body>
        <header>
            {% partial "top-menu" %}
        </header>
        <div id="cts-body">
            {% page %}
        </div>
        <footer>
        <script src="{{ [
                '@jquery',
				'assets/javascript/map.js',
				'assets/javascript/tab.js',
            ]|theme }}">
        </script>
		{% partial "gmap.htm" %}
        {% scripts %}
        {% styles %}
		{% framework extras %}
        </footer>
    </body>
</html>
